body {
  background: black;
  margin: 0;
  font-family: Arial, sans-serif;
}

#top {
  position: fixed;
  background: #EDF6F9;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  height: 30vh; /* Altura basada en la altura de la ventana */
  align-items: end;
  justify-content: start;
  padding: 1vh 0; /* Espaciado lateral/ chau padding */
  z-index: 1000;
  box-shadow: 1px 3px 15px black;
}


/* --------------Buttons------------- */

#nav-bar-btn-wrapper {
  margin-top: 50vh;
}

.enter-btn{
  background: #ff9100;
  color: #FFDDD2;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1vw;
  margin: 2px 4px;
  transition: background 0.5s;
}




.enter-btn:hover{
  background: #ad6200;
}

.navbar-nav {
  display: flex;
  gap: 1rem; /* Espaciado entre botones */
  flex-wrap: nowrap; /* Evita que los botones se envuelvan */
}


.menu-btn {
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  font-size: 1rem; /* Ajusta el tamaño de fuente */
  padding: 0.5em 1em; /* Espaciado interno */
  background: none;
  border: none;
  color: #575652;
  cursor: pointer;
  margin-bottom: 0.3vw;
}

.menu {
  display: flex;
  gap: 3rem; /* Espacio entre botones */
  flex-wrap: wrap; /* Asegura que se ajusten en pantallas pequeñas */
  margin-bottom: 0;
  width: 100%;
  
}

.enter-menu{
  display: flex; 
  justify-content: space-between; 
  align-items: end;
  margin-bottom: 0.5vw;
  margin-left: 25vw;
}

#main {
  display: flex;
  flex-direction: column;
}

.brand-logo {
  width: 25vw; /* Escala en relación al ancho de la pantalla */
  max-width: 400px; /* Limita el tamaño en pantallas grandes */
  max-height: 250px;
  height: 10vh; /* Mantiene la proporción */
  margin: 25vh 0 4vh 1vw;
}

.arrow {
  color: #83C5BE;
  font-weight: bold;
}

/* Estilo para los íconos de redes sociales */
.fa {
  padding: 1rem;
  font-size: 1.5rem; /* Unidad relativa */
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-instagram,
.fa-whatsapp {
  color: #83C5BE;
}

#social-media {
  display: flex;
  flex-direction: column;
  margin-left: 5vw;
  gap: 0rem;
}

#slider {
  overflow: hidden;
  margin-top: 30vh; /* Para evitar que se solape con el header */
  height: 70vh; /* Altura adaptable */
}

#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}

#slider figure img {
  float: left;
  width: 20%; /* Ajusta automáticamente el ancho de las imágenes */
  height: 100%; /* Escala las imágenes proporcionalmente */
  object-fit: cover; /* Mantiene el aspecto dentro del contenedor */
}

@keyframes slider {
  0% {
      left: 0;
  }
  20% {
      left: 0;
  }
  25% {
      left: -100%;
  }
  45% {
      left: -100%;
  }
  50% {
      left: -200%;
  }
  70% {
      left: -200%;
  }
  75% {
      left: -300%;
  }
  95% {
      left: -300%;
  }
  100% {
      left: -400%;
  }
}

.q{
  color: #006D77;
}

.medium{
  display: flex;
  flex-direction: row;
  margin: 10vh 7vh;
  background: #cbd1d3;
  padding: 4vh 0;
  border-radius: 10px;

}

.mid{
  background: #006D77;
  border-radius: 5px;
  height: 500px;
  display: flex;
  margin-left: 0;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  transition: background 0.5s;
}

.mid:hover{
  background: #004950;
}



.fa-address-card-o{
  color: #EDF6F9;
  margin-bottom: 3vh;
}

.text-wrapper{
  max-width: 500px;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: left;
  align-items: self-start;
  margin-left: 10vw;
  gap: 2vh;
}

#q1{
  color: #006D77;
}

#q2{
  color: #75aba5;
  font-weight: bold;
  /* text-shadow: 0px 0px 1px #006D77; */
}

.footer{
  background: #006D77;
  height: calc(15vh + 15vw);
  max-height: 900px;
  display: flex;
}

#light-brand-logo{
  max-height: 150px;
  max-width: 300px;
  margin-left: 5vw;
}

.map{
  max-width: 400px; 
  max-height: 400px;
  width: calc(10vw + 10vh); 
  height: calc(10vw + 10vh);
}

.map-wrap{
  display: flex;
  flex-direction: column;
  margin-left: 25vw;
  margin-top: 5vh;
}

.map-wrap-text{
  display: flex;
  color: #EDF6F9;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 1vh;
}

#whatsapp-footer{
  color: #EDF6F9;
  padding: 0;
  margin-left: 0;
}

.t1{
  color: #EDF6F9; 
  margin-bottom: 10px;
  height: 10px;
  
}

.all-text-wrapper{
  justify-content: left;
  text-align: left;
  align-items: left;
}

#cv-photo{
  max-width: 400px;
  max-height: 400px;
  border-radius: 50%;
  size: 180%;
  border: 10px solid #83C5BE;
  margin-bottom: 5vh;
}

.cv-body{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 35vh;
  margin-bottom: 10vh;
  font-size: 150%;
}

.cv-head{
  max-width: 80vw;
  text-align: center;
  justify-content: center;
}

#cv-name{
  color: #006D77;
}

#cv-title{
  color: #75aba5;
}

.cv-text-wrapper{
  margin-top: 3vh;
  width: 60%;
  text-align: left;
  color: #575652;
}

.cv-job-wrapper{
  text-align: left;
  color: #575652;
}

li::marker {
  color: #006D77;
}

.underline{
  border-bottom: 8px solid #83C5BE;
  border-radius: 8px;
  font-weight: bold;
}

.terap-body{
  margin-top: 35vh;
}


.section-title{
  color: #75aba5;
}

.section-text{
  color: #575652;
  background: #d3d8d9;
  padding: 20px;
  border-radius: 15px;
}

.section-img{
  box-shadow: 4px 4px 20px black;
  transition: 0.5s;
}.section-video{
  border: 2px solid #6dada5;
}

.section-img:hover{
  transform: scale(1.2);
}

.user-form{
  display: flex;
  flex-direction: column;
}

.main-dashboard{
  padding: 10vh 20vh 20vh 20vh;
}

.right-corner {
  position: fixed;
  top: 0;
  right: 0;
  margin: 1vh 1vh 0 0; 

}

/* Login */

.login-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-wrapper{
  background: #d3d8d9;
}

.login-label{
  color: #006D77;
  font-weight: bold;
  text-shadow: none;
}

.login-btn{
  background: #ad6200;
  color: #cbd1d3;
  border-radius: 3px;
  border: none;
  padding: 1vh 1vw;
  font-weight: bold;
  margin-top: 2vh;
}

.login-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vh;
  text-shadow: none;
}

.login-input{
  width: 15vw;
  border-radius: 4px;
  border: none;
}

.login-logo{
  width: 25vw; /* Escala en relación al ancho de la pantalla */
  max-width: 400px; /* Limita el tamaño en pantallas grandes */
  max-height: 250px;
  height: 10vh; /* Mantiene la proporción */
  margin: 10vh 0 4vh 1vw;
}

/* Submit form */

.form-wrapper{
  background: #cbd1d3;
}

.form-btn{
  background: #ad6200;
  border: none;
  color: #EDF6F9;
  padding-top: 3px;
  padding-bottom: 3px;
}

.form-title{
  color: #006D77;
}

.form-label{
  color: #75aba5;
  text-shadow: 0px 0px 1px #004950;
}

/* Common personal medical */
.fa-trash-o {
  color: #d7dcde;
  padding: 0;
}

.trash-btn{
  background: #c20d0d;
  border: none;
  border-radius: 5px;
}

.move-btn{
  background: #ad6200;
  color: #EDF6F9;
  border: none;
  border-radius: 2px;
}

.img-btn{
  color: #6dada5;
  border: 1px solid #6dada5;
  border-radius: 2px;
}

.info-card{
  background: #d3d6d8;
}

.person-name{
  color: #004950;
}

.search-btn{
  background: #006D77;
  color: #d7dbdd;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
}

.heading{
  border: none;
  border-radius: 3px;
  padding: 7px 15px;
  background: #ad6200;
  color: #d3d8d9;
  text-decoration: none;
}

input[placeholder="Buscar por nombre, apellido o DNI..."], search-input{
  background: #d7dcde;
}

.edit-btn{
  color: #d3d8d9;
  background: #ad6200;
  border: none;
  border-radius: 4px;
  padding: 7px 15px;
}

.schedule-btn{
  border: none;
  border-radius: 5px;
  background: #004950;
  color: #d7dbdd;
  padding: 7px 14px

}

.img-upload-btn {
  border: none !important;
  border-radius: 4px;
  padding: 2px 5px;
  margin-left: 4px;
  background: #004950 !important; 
  color: #d7dbdd !important;
}


/* Media Queries */
@media (max-width: 768px) {
  header { 
    width: 100%;
  }

  #top {
      /* flex-direction: column; */ /* Coloca el contenido en columna */
      /* height: auto; */ /* Ajusta dinámicamente la altura */
      height: 26vh;
      padding: 0.1em;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
  }

  .menu-btn {
      font-size: 0.9rem;
  }

  #menu {
      gap: 0.5rem;
  }

  .brand-logo {
      width: 60vw;
      margin: 0 0 0 1em;
      /* height: 150px; */
      /* max-width: 200px; */
  }

  .logo-offcanvas {
      width: 60vw;
      max-width: 60%;
  }

  .fa {
      font-size: 1.2rem;
  }

  #nav-bar-btn-wrapped {
    border: none;
    background-color: #EDF6F9;
  }

  #nav-bar-btn-icon {
    font-size: 1.7rem;
    color: #004950;
  }

  #enter-btn-div {
    margin-top: 3em;
  }

  .enter-btn {
    display: block;
    font-size: 0.9rem;
    margin:  1em 0 1em 0;
    font-weight: 700;
    width: 50%;
  }

  .enter-btn-link {
    text-decoration: none;
  }
  

  #slider {
      margin-top: 26vh; /* Menor altura en dispositivos pequeños */
      width: 100%;
      height: auto;
  }

  .medium {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em 1em;
  }

  .text-wrapper {
    margin: 0 0.5em 0 0.5em;

  }

  #q1{
    text-wrap: wrap;
    text-align: center;
    font-size: 1.5rem;
  }

  #q2{
    text-wrap: wrap;
    text-align: center;
    font-size: 1.2rem;
  }


  #mid {
    height: 250px;
    width: 90%;
    margin-top: 1em;
  }

  .footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .map-wrap {
    margin: 1em 2em;
  }

  .map-wrap-text {
    justify-content: left;
  }

  .map {
    width: auto;
    height: 30vh;
  }
}
